In [1]:
import pandas as pd
import sweetviz as sv
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import itertools
from sklearn.preprocessing import OrdinalEncoder
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import euclidean_distances

In [6]:
df_product_matrix = pd.read_csv('./csv/3_product_matrix.csv')
df_product_matrix.rename(columns={'order_product_id': 'product_id'}, inplace=True)

In [32]:
df_product = pd.read_csv('./raw_csv/dtt_product.csv')[['product_id','product_code','age_adult','age_child','age_elder','age_infant','product_slug','is_active','view_count']]
test_product_id = [
    22, 23, 24, 25, 26, 27, 28, 
    30, 31, 32, 36, 37, 
    40, 41, 45, 53, 59,
    61, 62, 63, 66,
    71, 72, 74, 77,
    85, 86, 89, 93, 94, 95, 96, 99,
    100, 101, 104, 106, 107, 108,
    110, 112, 114, 116,
    126, 168, 201]
df_product = df_product[~df_product['product_id'].isin(test_product_id)]

# dict of product url
# productID_to_url = {i[1][0] : 'www.daytriptour.com/trip/' + i[1][1] for i in df_product.iterrows()}

In [33]:
df_product

,product_id,product_code,age_adult,age_child,age_elder,age_infant,product_slug,is_active,view_count
7,29,HKT014,12-70,4-11,NaN,1-3,phiphi-bamboo-island,1,166
11,33,HKT033,12+,4-11,NaN,0-3,phuket-elephant-care-and-rafting,0,30
12,34,HKT035,140 cm.+,101-140cm.,NaN,&lt;100 cm.,phuketfantasea,1,1628
13,35,KBV001,11+,4-10,NaN,1-3,phi-phi-island-tour-krabi,1,101
14,50,BKK013,>140cm.,90-140cm.,NaN,&lt;90cm.,bangkok-dream-world,1,980
...,...,...,...,...,...,...,...,...,...
181,202,HKT087,140 cm.+,101-140cm.,NaN,&lt;100 cm.,carnival-magic-phuket,1,272
182,205,USM005,11+,4-10,NaN,0-3,ang-thong-national-marine-park-tour-by-speedboat,1,0
183,204,PAT016,12 yrs.+,3 - 11 yrs.,60 yrs.+,0-2 yrs.,columbia-pictures-aquaverse-pattaya,1,3
184,206,USM006,11+,4-10,NaN,0-3,koh-mad-sum-and-koh-taen-half-day-trip-private...,1,1
185,207,THCPN001,12+,4-11,NaN,0-3,banana-beach-phuket,1,30

In [34]:
# Check which product IDs are not present in df_product_matrix
product_ids_not_present = ~df_product['product_id'].isin(df_product_matrix['product_id'])

# Get the list of product IDs not present in df_product_matrix
product_ids_list = df_product.loc[product_ids_not_present, 'product_id'].tolist()

# Print the list of product IDs not present
print("Product IDs not present in df_product_matrix:" , len(product_ids_list))
product_ids_list.sort()
print(product_ids_list)

Product IDs not present in df_product_matrix: 37
[44, 48, 57, 64, 67, 80, 88, 92, 98, 109, 111, 113, 136, 140, 143, 144, 153, 154, 155, 161, 165, 169, 174, 176, 179, 183, 186, 190, 191, 192, 194, 196, 203, 204, 205, 206, 207]

In [31]:
df_product.loc[product_ids_not_present].to_csv('./miss.csv')