In [135]:
import pandas as pd
import sweetviz as sv
import numpy as np

In [196]:
order_col = [
    'customer_id','customer_firstname','customer_lastname','customer_email','customer_gender',
    'customer_nationality','customer_country','customer_phone_iso','customer_phone_code',
    'browser', 'platform',
    'order_product_id','order_price_paid','order_state','order_payment_method_id','order_payment_by'
    ]

In [197]:
df_user = pd.read_csv('./csv/dtt_users.csv')
df_order = pd.read_csv('./csv/dtt_order.csv')[order_col]

C:\Users\panya\AppData\Local\Temp\ipykernel_28652\1223148910.py:2: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df_order = pd.read_csv('./csv/dtt_order.csv')[order_col]

In [198]:
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27328 entries, 0 to 27327
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              9997 non-null   float64
 1   customer_firstname       9997 non-null   object
 2   customer_lastname        9997 non-null   object
 3   customer_email           9997 non-null   object
 4   customer_gender          9997 non-null   object
 5   customer_nationality     9460 non-null   object
 6   customer_country         9460 non-null   object
 7   customer_phone_iso       9403 non-null   object
 8   customer_phone_code      9409 non-null   float64
 9   browser                  27310 non-null  object
 10  platform                 27310 non-null  object
 11  order_product_id         27328 non-null  int64
 12  order_price_paid         27328 non-null  float64
 13  order_state              27328 non-null  object
 14  order_payment_method_id  27328 non-null  int64
 15  order_payment_by         866 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 3.3+ MB

In [199]:
df_order_v1 = df_order[order_col]
# drop na
na_index_v1 = df_order_v1[df_order_v1['customer_country'].isna()].index
df_order_v1 = df_order_v1.drop(na_index_v1)

# drop test
test_index_v1 = df_order_v1[df_order_v1['customer_email'].map(lambda x: 'test' in str(x) or '@mail.com' in str(x) or '360' in str(x))].index
df_order_v1 = df_order_v1.drop(test_index_v1)

test_index_v2 = df_order_v1[df_order_v1['customer_email'].map(lambda x: 'mitkung' in str(x) or 'suphattra' in str(x))].index
df_order_v1 = df_order_v1.drop(test_index_v2)

test_index_v3 = df_order_v1[df_order_v1['customer_firstname'].map(lambda x: 'admin' in str(x) or 'test' in str(x) or 'Thanadol' in str(x))].index
df_order_v1 = df_order_v1.drop(test_index_v3)

# # drop daytriptour
# test_index_v4 = df_order_v1[df_order_v1['customer_email'].map(lambda x: 'daytriptour' in str(x) or 'support' in str(x))].index
# df_order_v1 = df_order_v1.drop(test_index_v4)

# test_index_v5 = df_order_v1[df_order_v1['customer_email'].map(lambda x: 'dolavic' in str(x) or 'thanadol' in str(x))].index
# df_order_v1 = df_order_v1.drop(test_index_v5)

In [200]:
df_order_v1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9259 entries, 1285 to 27326
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              9259 non-null   float64
 1   customer_firstname       9259 non-null   object
 2   customer_lastname        9259 non-null   object
 3   customer_email           9259 non-null   object
 4   customer_gender          9259 non-null   object
 5   customer_nationality     9259 non-null   object
 6   customer_country         9259 non-null   object
 7   customer_phone_iso       9214 non-null   object
 8   customer_phone_code      9220 non-null   float64
 9   browser                  9253 non-null   object
 10  platform                 9253 non-null   object
 11  order_product_id         9259 non-null   int64
 12  order_price_paid         9259 non-null   float64
 13  order_state              9259 non-null   object
 14  order_payment_method_id  9259 non-null   int64
 15  order_payment_by         859 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 1.2+ MB

In [202]:
df_order_v1

,customer_id,customer_firstname,customer_lastname,customer_email,customer_gender,customer_nationality,customer_country,customer_phone_iso,customer_phone_code,browser,platform,order_product_id,order_price_paid,order_state,order_payment_method_id,order_payment_by
1285,0.0,Julie,Staplea,juliestaples40@gmail.com,Mrs.,British,United Kingdom,NaN,NaN,Chrome,Android,121,0.0,detail_success,1,NaN
1286,0.0,Julie,Staples,juliestaples40@gmail.com,Mrs.,British,United Kingdom,NaN,NaN,Chrome,Android,121,4500.0,payment_success,1,NaN
1296,0.0,Chad,Steedman,chad.steedman@hotmail.com,Mr.,Australian,Australia,NaN,NaN,Safari,iPhone,55,3440.0,payment_success,1,NaN
1300,0.0,Dale,Lewis,juleslewis@hotmail.co.uk,Mr.,Welsh,United Kingdom,NaN,NaN,Safari,iPhone,90,0.0,detail_success,1,NaN
1303,0.0,Samer,Zainal,s.zainal@gmail.com,Mr.,Bahrain,Bahrain,NaN,NaN,Chrome,Android,127,699.4,payment_success,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27311,2824.0,Ann Mary,Baby,annmarybaby5@gmail.com,Mr.,India,India,IN,91.0,Chrome,Windows,122,0.0,detail_success,1,NaN
27318,0.0,Reneta,Gesheva,rgesheva8@gmail.com,Mrs.,American,United States,US,1.0,Safari,iPhone,202,4280.0,payment_success,1,NaN
27320,0.0,Odmunkh,Ebkhbold,odmunkh@yahoo.com,Mr.,Mongolia,Mongolia,MN,976.0,Chrome,Android,195,0.0,detail_success,1,NaN
27323,2826.0,Harsh Vardhan,Rathi,harshrathi1119@gmail.com,Mr.,Indian,India,IN,91.0,Safari,iPhone,123,0.0,detail_success,1,NaN
27326,0.0,Aleksandr,Starikov,star1x@yandex.ru,Mr.,Russian,Russia,TH,66.0,Safari,iPhone,47,3520.0,payment_success,1,NaN

In [204]:
df_order_v2 = df_order_v1.copy()
df_order_v2.fillna(value={'customer_phone_code': 0, 'order_payment_by': 0}, inplace=True)
int_cols = ['customer_id', 'customer_phone_code', 'order_product_id', 'order_price_paid', 'order_payment_method_id']

df_order_v2[int_cols] = df_order_v2[int_cols].astype('int32')
# df_order_v2[['customer_phone_code','customer_phone']] = df_order_v2[['customer_phone_code','customer_phone']].astype('object')
# df_order_v2['customer_id'] = df_order_v2['customer_id'].astype('int')
df_order_v2

,customer_id,customer_firstname,customer_lastname,customer_email,customer_gender,customer_nationality,customer_country,customer_phone_iso,customer_phone_code,browser,platform,order_product_id,order_price_paid,order_state,order_payment_method_id,order_payment_by
1285,0,Julie,Staplea,juliestaples40@gmail.com,Mrs.,British,United Kingdom,NaN,0,Chrome,Android,121,0,detail_success,1,0
1286,0,Julie,Staples,juliestaples40@gmail.com,Mrs.,British,United Kingdom,NaN,0,Chrome,Android,121,4500,payment_success,1,0
1296,0,Chad,Steedman,chad.steedman@hotmail.com,Mr.,Australian,Australia,NaN,0,Safari,iPhone,55,3440,payment_success,1,0
1300,0,Dale,Lewis,juleslewis@hotmail.co.uk,Mr.,Welsh,United Kingdom,NaN,0,Safari,iPhone,90,0,detail_success,1,0
1303,0,Samer,Zainal,s.zainal@gmail.com,Mr.,Bahrain,Bahrain,NaN,0,Chrome,Android,127,699,payment_success,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27311,2824,Ann Mary,Baby,annmarybaby5@gmail.com,Mr.,India,India,IN,91,Chrome,Windows,122,0,detail_success,1,0
27318,0,Reneta,Gesheva,rgesheva8@gmail.com,Mrs.,American,United States,US,1,Safari,iPhone,202,4280,payment_success,1,0
27320,0,Odmunkh,Ebkhbold,odmunkh@yahoo.com,Mr.,Mongolia,Mongolia,MN,976,Chrome,Android,195,0,detail_success,1,0
27323,2826,Harsh Vardhan,Rathi,harshrathi1119@gmail.com,Mr.,Indian,India,IN,91,Safari,iPhone,123,0,detail_success,1,0
27326,0,Aleksandr,Starikov,star1x@yandex.ru,Mr.,Russian,Russia,TH,66,Safari,iPhone,47,3520,payment_success,1,0

In [205]:
df_order_v2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9259 entries, 1285 to 27326
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              9259 non-null   int32
 1   customer_firstname       9259 non-null   object
 2   customer_lastname        9259 non-null   object
 3   customer_email           9259 non-null   object
 4   customer_gender          9259 non-null   object
 5   customer_nationality     9259 non-null   object
 6   customer_country         9259 non-null   object
 7   customer_phone_iso       9214 non-null   object
 8   customer_phone_code      9259 non-null   int32
 9   browser                  9253 non-null   object
 10  platform                 9253 non-null   object
 11  order_product_id         9259 non-null   int32
 12  order_price_paid         9259 non-null   int32
 13  order_state              9259 non-null   object
 14  order_payment_method_id  9259 non-null   int32
 15  order_payment_by         9259 non-null   object
dtypes: int32(5), object(11)
memory usage: 1.0+ MB

In [190]:
df_order_v2[df_order_v2['customer_firstname'].map(lambda x: 'asd' in str(x) or 'dsd' in str(x) or 'xx' in str(x))]

,customer_id,customer_firstname,customer_lastname,customer_email,customer_phone_iso,customer_phone_code,customer_phone,customer_gender,customer_country,customer_nationality,order_product_id
3417,0,Jasdeep,rupra,j_rupra@hotmail.co.uk,TH,66,76283342,Ms.,United Kingdom,British,90
8959,0,xxx,xxx,sss@adad.com,GB,44,123445577,Mr.,Togo,thai,146
12729,0,dsd,sds,ramanirenuk@gmail.com,IN,91,9550045366,Mr.,Bahrain,sdds,83
21855,0,asdsdsdsd,gfgdfdf,erererer@gmail.com,TH,66,895874855,Mr.,Algeria,eeerrere,151
21898,0,asd,asd,dolavic@hotmail.com,CA,1,13241697,Mr.,Afghanistan,asd,55
21899,0,asdas,asdasd,dolavic@hotmail.com,CA,1,123456678,Mr.,Afghanistan,sdfsd,55
21901,0,Thasdsa,asdasd,dolavic@hotmail.com,CA,1,21346,Mr.,Aruba,Thai,55

In [195]:
df_order_v2[df_order_v2['customer_firstname'].map(lambda x: 'Jennyh' in str(x) or '12345' in str(x))]

,customer_id,customer_firstname,customer_lastname,customer_email,customer_phone_iso,customer_phone_code,customer_phone,customer_gender,customer_country,customer_nationality,order_product_id
3627,448,Jennyhan913@yahoo.com,Malheiro,Jennyhan913@yahoo.com,TH,66,908944705,Mrs.,United States,Usa,55

In [185]:
df_order_v2['customer_firstname'].value_counts()

Michael      62
Paul         42
David        39
Mark         35
Peter        29
             ..
VC            1
Rekha         1
Khajonsak     1
dsd           1
Aleksandr     1
Name: customer_firstname, Length: 5025, dtype: int64