In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sweetviz as sv
import numpy as np

In [2]:
df_order = pd.read_csv('./csv/dtt_order.csv')
print(f'Total rows : {len(df_order)}')
df_order.sample(3)

Total rows : 27328

/var/folders/5g/90_bh_2146gffg2__wzbyb780000gn/T/ipykernel_75729/1724728326.py:1: DtypeWarning: Columns (2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df_order = pd.read_csv('./csv/dtt_order.csv')

,order_id,order_number,payment_charge_id,payment_success_id,order_product_id,order_package_id,order_product_name,order_package_name,order_quantity_adult,order_quantity_children,...,pv_infant_value_base,pv_infant_amount_base,pv_infant_value_additional,pv_infant_amount_additional,pv_infant_value_optional,pv_infant_amount_optional,pv_infant_value_optional2,pv_infant_amount_optional2,pv_infant_value_optional3,pv_infant_amount_optional3
24025,24514,220724514,NaN,0,138,440,Safari World,Package A : Safari Park + Marine Park + Lunch,1,0,...,0,0,0,0,0,0,0,0,0,0
5121,5610,190205610,NaN,0,145,305,Coral Island by speedboat with Indian Lunch,Half Day Tour,4,0,...,0,0,0,0,0,0,0,0,0,0
15871,16360,191116360,NaN,4309,170,370,Samui Elephant Jungle Sanctuary,Half Day Afternoon Visit,2,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
## make EDA report (HTML) 
# report = sv.analyze(pd.read_csv('./csv/dtt_product.csv'))
# report.show_html('./report/products_report.html')

In [4]:
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27328 entries, 0 to 27327
Columns: 127 entries, order_id to pv_infant_amount_optional3
dtypes: float64(20), int64(78), object(29)
memory usage: 26.5+ MB

In [5]:
clean_cols_v1 = [
    'order_id',
    'order_number', # yy/mm/numbers
    # 'payment_charge_id','payment_success_id', #?
    'order_product_id', # product_id?
    'order_package_id', # ref? vs product_id?
    'order_product_name', 'order_package_name', # clean and tag or make vector?
    'order_quantity_adult','order_quantity_children','order_quantity_elder','order_quantity_infant', # distributed / create group ex.private, family, group, kids, older
    # price per person?
    'order_price_adult','order_price_children','order_price_elder','order_price_infant', # price zone for category
    'order_price_discount_adult','order_price_discount_children','order_price_discount_elder','order_price_discount_infant', # 0,1 category

    # # how to calculate discount?
    # 'order_discount_id','order_discount_rate','order_discount_type','order_discount_coupon_code','order_discount_coupon_rate',
    # 'order_discount_coupon_type','order_coupon_discount_price',

    # why price is not the same?
    # 'order_price_total','order_gross_price',
    'order_price_paid',
 
    # 'order_price_paidleft', # what's ?
    'order_state', # 5 types status mean?
    'order_payment_method_id',#'order_payment_type', # same?
    # 'order_payment_charge_rate', # use?
    'order_payment_by', # all real?

    # use for fill users
    'customer_id','customer_firstname','customer_lastname','customer_email',
    'customer_phone_iso','customer_phone_code','customer_phone','customer_gender',

    # 'customer_discount_rate','customer_discount_type', # meanning?
    'customer_country','customer_nationality', # use for fill users
    'order_departure_date','order_date', # ref
    
    # surcharge?
    # 'order_custom_surcharge','order_surcharge','order_surcharge_id','order_surcharge_hotel_id','order_surcharge_zone_name',
    # 'order_surcharge_hotel_name','order_surcharge_hotel_room','order_surcharge_pickup_time','order_surcharge_price',

    'special_request','special_request_other', # Vegetarian/Halal food
    
    'date_create','date_update','creator','updater', # ref
    'browser','platform',

    # 'is_reminder',# ?
    # 'price_type', # ?
    # 'is_meeting_point', # ?
    'order_custom_hotel_desc'
    ]

In [6]:
df_order = df_order[clean_cols_v1]
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27328 entries, 0 to 27327
Data columns (total 43 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       27328 non-null  int64
 1   order_number                   27328 non-null  int64
 2   order_product_id               27328 non-null  int64
 3   order_package_id               27328 non-null  int64
 4   order_product_name             27328 non-null  object
 5   order_package_name             27328 non-null  object
 6   order_quantity_adult           27328 non-null  int64
 7   order_quantity_children        27328 non-null  int64
 8   order_quantity_elder           27328 non-null  int64
 9   order_quantity_infant          27328 non-null  int64
 10  order_price_adult              27253 non-null  float64
 11  order_price_children           27253 non-null  float64
 12  order_price_elder              27328 non-null  int64
 13  order_price_infant             27253 non-null  float64
 14  order_price_discount_adult     27328 non-null  int64
 15  order_price_discount_children  27328 non-null  int64
 16  order_price_discount_elder     27328 non-null  int64
 17  order_price_discount_infant    27328 non-null  int64
 18  order_price_paid               27328 non-null  float64
 19  order_state                    27328 non-null  object
 20  order_payment_method_id        27328 non-null  int64
 21  order_payment_by               866 non-null    object
 22  customer_id                    9997 non-null   float64
 23  customer_firstname             9997 non-null   object
 24  customer_lastname              9997 non-null   object
 25  customer_email                 9997 non-null   object
 26  customer_phone_iso             9403 non-null   object
 27  customer_phone_code            9409 non-null   float64
 28  customer_phone                 9877 non-null   float64
 29  customer_gender                9997 non-null   object
 30  customer_country               9460 non-null   object
 31  customer_nationality           9460 non-null   object
 32  order_departure_date           27328 non-null  object
 33  order_date                     5915 non-null   object
 34  special_request                3138 non-null   object
 35  special_request_other          924 non-null    object
 36  date_create                    27328 non-null  object
 37  date_update                    27328 non-null  object
 38  creator                        27328 non-null  int64
 39  updater                        27328 non-null  int64
 40  browser                        27310 non-null  object
 41  platform                       27310 non-null  object
 42  order_custom_hotel_desc        466 non-null    object
dtypes: float64(7), int64(16), object(20)
memory usage: 9.0+ MB

In [21]:
df_order.loc[19648,['order_id','creator','customer_id','order_product_id','order_departure_date','date_update','date_create']]

order_id                              20137
creator                                   0
customer_id                             0.0
order_product_id                        158
order_departure_date             2020-02-03
date_update             2020-02-04 08:06:01
date_create             2020-02-04 08:04:50
Name: 19648, dtype: object