In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_user = pd.read_csv('./csv/dtt_users.csv')
print(f'Total rows : {len(df_user)}')
df_user.sample(3)

Total rows : 2805

,id,level_id,ip_address,username,password,salt,email,activation_code,forgotten_password_code,forgotten_password_time,...,licence_file,insurance_company_no,birthdate,avatar,nationality,accept_terms,subscribe,browser,platform,version
932,953,NaN,223.186.135.178,K.lakshmipriya@gmail.com,$2y$08$b8YlGm918orvvSsfQJlEHuQeaaDJ0AnzuztySD3...,BxpY3PWX.aLCJG/2o70F8u,K.lakshmipriya@gmail.com,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,Chrome,Android,74.0.3729.157
1167,1188,NaN,223.27.235.8,Sumitsinghssm9651@gmail.com,$2y$08$lru8BTgUE1MQzr9uP4tXh.Pk/33VQfvDqAWXDRY...,13RV9PA5OoDFSJ9aHOcqyO,Sumitsinghssm9651@gmail.com,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,Safari,iPhone,12.1.1
770,791,NaN,171.102.48.11,Ahmak23@hotmail.com,$2y$08$q0AquRRTSPP0Ss9gCz2z2.Ojw30t37Rkq7kcc2A...,IMas44.YiLar4CjtXJheeO,Ahmak23@hotmail.com,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,Safari,iPhone,12.1

In [4]:
#selected columns
user_cols = [
    'id', 
    'username','email', # find test user and check matching
    'activation_code', # check fake users?
    'created_on', 'last_login', 'active', # active [0,1]?
    'social_id', # what's meaning?
    'provider', # category [1,2,9]
    'first_name', 'last_name', 'phone_iso', 'phone_code', 'phone', 'name_title', 'gender', # need clean and fill by dtt_order
    'address', 'subdistrict', 'district', 'province', 'postal_code', 'country', 'company', 'occupation', 'position', 'business_name', 
    'licence_no', 'licence_file','insurance_company_no', # what's licence mean?
    'birthdate', # all NA
    'nationality',
    'browser', 'platform']

df_user.columns

Index(['id', 'level_id', 'ip_address', 'username', 'password', 'salt', 'email',
       'activation_code', 'forgotten_password_code', 'forgotten_password_time',
       'remember_code', 'created_on', 'last_login', 'active', 'social_id',
       'provider', 'first_name', 'last_name', 'phone_iso', 'phone_code',
       'phone', 'name_title', 'gender', 'address', 'subdistrict', 'district',
       'province', 'postal_code', 'country', 'company', 'occupation',
       'position', 'business_name', 'licence_no', 'licence_file',
       'insurance_company_no', 'birthdate', 'avatar', 'nationality',
       'accept_terms', 'subscribe', 'browser', 'platform', 'version'],
      dtype='object')

In [5]:
df_user['provider'].value_counts()

1.0    1973
2.0     809
9.0      18
Name: provider, dtype: int64